<%- include ('partials/header.ejs'); -%>
     <script>
        let variableLocation = <%- JSON.stringify(locations) %>;
        localStorage.setItem('locations', JSON.stringify(variableLocation));
        let variableRoute = <%- JSON.stringify(route) %>;
        localStorage.setItem('route', JSON.stringify(variableRoute));
    </script>

    <div class="container">
        <br>
        <% if (route.length > 0) {%>
            <% route.forEach((r, index) => { %>
            <h2 > <%= r.name_of_route %> </h2>
            <% }) %>
            <br>
            <table >
                <thead >
                    <th >LONG</th>
                    <th >LAT</th>
                </thead>
                <tbody>
                    <% locations.forEach((location, index) => { %>
                        <td><%= location.long_location %></td>
                        <td><%= location.lat_location %></td>
                    </tr>
                    <% }) %>          
                </tbody>
            </table>
        <% } else { %>
            <p>click<a href="/add" >aqui</a> para anadir ruta</p>
        <% } %>
    </div>
    <br>
</div>
    <div id='map' class="container"> </div>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="/leaflet.js"></script>
</body>
</html>
